*{
    margin: 0;
    padding: 0;
}
/*header outer*/
.header-container{

    width: 100%;
    height: 80px;
    border: 1px solid red;
    display: flex;
    justify-content: center;

}

.header-content{

    width: 70%;
    border: 1px solid red;
}

.logo-wrapper{
    width: 200px;
    height: 100%;
    border: 1px solid red;
}