*{
    margin: 0;
    padding: 0;
}
/*header outer*/
.header-container{

    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    background-color: #2ecc71;
    margin-bottom: 40px;
}

.header-content{

    width: 80%;
    height: 100%;
    display: flex;
}

.logo-wrapper{
    width: 200px;
    height: 100%;
    display: flex;
    align-items: center;
}

.menu-wrapper{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.menu-wrapper > ul{
    list-style: none;
    display: flex;
}

.menu-wrapper > ul > li{
    margin-right: 25px;
    font-size: 20px;
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    font-style: normal;

}

.menu-wrapper > ul > li:last-child{
    margin: 0;
    
}

.menu-wrapper > ul > li:hover{
    cursor: pointer;
    color: #d35400;
}

.slider-container{
    height: 800px;
    display: flex;
}

.slider-inner{
    flex: 1;
    

}

.left-slider{
    display: flex;
    align-items: center;
    background-image: url("https://img.freepik.com/free-photo/woman-sunset-with-colorful-shopping-bags-city-street-park-after-shopping-day-happy_343596-7035.jpg?t=st=1724758978~exp=1724762578~hmac=ad2885e8c40da9c743ccd6d06a4813cf899222f5eb90f80cae4b54d6308eafc4&w=740");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.left-side-content{
    padding: 20px;
    position: relative;
    z-index: 2;
}

.left-side-content > h1{
    font-size: 55px;
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: white;
}

.left-side-content > h4{
    font-size: 20px;
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: white;
}

.shadow{
    width: 100%;
    height: 100%;
    background-color: rgba(44, 62, 80,0.4);
    position: absolute;
}

.order-now{
    background-color: rgba(44, 62, 80,0.4);
    margin-top: 50px;
    border: 1px solid white;
    padding: 10px 20px;
    color: white;
    cursor: pointer;
}

.order-now:hover{

    background-color: white;
    color: black;
}

.right-slider{
    display: flex;
    flex-direction: column;
}

.slider-right-wapper{
    flex: 1;
    display: flex;
}


.slider-right-slot{
    flex: 1;
    background-image: url("https://img.freepik.com/free-photo/smiling-young-pretty-girl-standing-profile-view-holding-shopping-bags-shoulder-looking-isolated-olive-green-wall-with-copy-space_141793-112922.jpg?t=st=1724760971~exp=1724764571~hmac=5ad53914d54f0d776422fd5225440f61065f4b25c8c695b5660393cbd2e3ce0d&w=740");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.data-wapper{
    width: 90%;
    height: 90%;
    background-color: rgba(44, 62, 80,0.8);
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    position: relative;
    z-index: 2;
    display: none;

}

.slider-right-slot:hover .data-wapper{
    display: flex!important;
}
