*{
    margin: 0;
    padding: 0;
}
/*header outer*/
.header-container{

    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    background-color: #2ecc71;
    margin-bottom: 40px;
}

.header-content{

    width: 80%;
    height: 100%;
    display: flex;
}

.logo-wrapper{
    width: 200px;
    height: 100%;
    display: flex;
    align-items: center;
}

.menu-wrapper{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.menu-wrapper > ul{
    list-style: none;
    display: flex;
}

.menu-wrapper > ul > li{
    margin-right: 25px;
    font-size: 20px;
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    font-style: normal;

}

.menu-wrapper > ul > li:last-child{
    margin: 0;
    
}

.menu-wrapper > ul > li:hover{
    cursor: pointer;
    color: #d35400;
}

.slider-container{
    height: 800px;
    display: flex;
}

.slider-inner{
    flex: 1;
    

}

.left-slider{
    display: flex;
    align-items: center;
    background-image: url("https://img.freepik.com/free-photo/woman-sunset-with-colorful-shopping-bags-city-street-park-after-shopping-day-happy_343596-7035.jpg?t=st=1724758978~exp=1724762578~hmac=ad2885e8c40da9c743ccd6d06a4813cf899222f5eb90f80cae4b54d6308eafc4&w=740");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.left-side-content{
    padding: 20px;
    position: relative;
    z-index: 2;
}

.left-side-content > h1{
    font-size: 55px;
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: white;
}

.left-side-content > h4{
    font-size: 20px;
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: white;
}

.shadow{
    width: 100%;
    height: 100%;
    background-color: rgba(44, 62, 80,0.4);
    position: absolute;
}

.order-now{
    background-color: rgba(44, 62, 80,0.4);
    margin-top: 50px;
    border: 1px solid white;
    padding: 10px 20px;
    color: white;
    cursor: pointer;
}

.order-now:hover{

    background-color: white;
    color: black;
}

.right-slider{
    display: flex;
    flex-direction: column;
}

.slider-right-wapper{
    flex: 1;
    display: flex;
}


.slider-right-slot{
    flex: 1;
    background-image: url("https://img.freepik.com/free-photo/smiling-young-pretty-girl-standing-profile-view-holding-shopping-bags-shoulder-looking-isolated-olive-green-wall-with-copy-space_141793-112922.jpg?t=st=1724760971~exp=1724764571~hmac=5ad53914d54f0d776422fd5225440f61065f4b25c8c695b5660393cbd2e3ce0d&w=740");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.data-wapper{
    width: 90%;
    height: 90%;
    background-color: rgba(44, 62, 80,0.8);
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    position: relative;
    z-index: 2;
    display: none;

}

.slider-right-slot:hover .data-wapper{
    display: flex!important;
}

.product-container{
    height: 600px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.product-inner{
    width: 80%;
    height: 500px;
    display: flex;
    justify-content: space-between;
}

.product{
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.product-image-context{

    flex: 1;
    background-image: url("https://img.freepik.com/free-photo/men39s-clothes-hanger-generative-ai_169016-29035.jpg?t=st=1725611064~exp=1725614664~hmac=1d536efea63473ebb9e0ebea06333e0da241f4373196e475807e2b3e13572f4b&w=740");
    background-repeat: no-repeat;
    background-size: cover;

    position: relative;
    overflow: hidden;
}

.product-image-context:hover .hidden-items-context{
    bottom: 0;
}
.product-details-context{

    height: 100px;
    display: flex;
    flex-direction: column;

}

.price-reviwe-container{
    padding: 5px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
   
}

.price-container{
    padding: 5px 10px;
    display: flex;
    align-items: center;
}

.hidden-items-context{
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    bottom: -65px;
}
.hidden-item-inner{
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.hidden-item{
    width: 30%;
    height: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.about-container{
    width: 100%;
    height: auto;
    min-height: 500px;
    border: 1px solid red;
    display: flex;
    justify-content: center;
}

.about-inner{
    height: auto;
    border: 1px solid red;
    min-height: 500px;
    width: 70%;
    display: flex;

}

.about{
    flex: 1;
    border: 1px solid red;
}

.about-left{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.about-left h1,p{
    margin-bottom: 25px;
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.about-left button{
    padding: 8px 15px;
    background: none;
    border: 1px solid black;
}

.about-left button:hover{
    cursor: pointer;
    background-color: black;
    color: white;
}

.about-right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}


.up-right{
    background-image: url(https://www.free-css.com/assets/files/free-css-templates/preview/page293/hexashop/assets/images/explore-image-01.jpg);
}
.down-left{
    background-image: url("https://www.free-css.com/assets/files/free-css-templates/preview/page293/hexashop/assets/images/explore-image-02.jpg");
}
/* Social Outer */
.social-container{
    width: 100%;
    height: auto;
    padding: 50px 0;
    display: flex;
    justify-content: center;
}
.social-inner{
    width: 75%;
    height: auto;
}
.social-slider{
    width: 100%;
    height: 150px;

    margin-top: 20px;
    display: flex;
}
.social-elemet{
    flex: 1;
    background-image: url('https://img.freepik.com/free-photo/shot-happy-african-american-woman-chooses-new-clothes-showroom-picks-up-purple-turtleneck-hangers-stands-set-white-clothing-hangers_273609-32785.jpg?t=st=1725036135~exp=1725039735~hmac=d3db71416c215029bd427f2e00038368fbf590f752f0228eebafe33b31440d40&w=740');
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
.social-elemet:hover .social-shadow{
    display: block;
}
.social-shadow{
    background-color: rgba(44, 62, 80,0.8);
    position: absolute;
    width: 100%;
    height: 100%;
    display: none;
}
/* Social Outer */

/* Footer Outer */
footer{
    width: 100%;
    height: auto;

    background-color: #34495e;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0;
}
.footer-inner{
    width: 75%;
    height: auto;
    display: flex;
}
.footer-slot{
    flex:1;
}
.footer-slot h3{
    color: white;
    font-family: "Nerko One", cursive;
    font-weight: 400;
    font-style: normal;
}
.footer-slot ul{
    list-style: none;
    margin-top: 20px;
    color: white;
    cursor: pointer;
    font-family: "Nerko One", cursive;
    font-weight: 400;
    font-style: normal;
}
.footer-slot ul li{
    margin-bottom: 8px;
}
.line{
    width: 100%;
    height: 1px;
    background-color: white;
}
/* Footer Outer */