.box{
    width: 550px;
    height: 400px;
    /* background-color: cadetblue; */
    transition: transform 1s; 
    margin-top: 200px;
    margin-left: 200px;
    border: 1px solid red;
    overflow: hidden;
}

.box:hover{
    /* transform: translateX(150px); */
    /* transform: translateX(-150px); */
    /* transform: translateY(150px);
    transform: translateX(200px); */

    /* ho,ve */

    /* transform: translate(0,25px); */
    /* transform: rotate(360deg); */

    /* transform: scale(1.2); */
}

/* img{
    width: 100%;
    height: 100%;
    transition: transform 1s;
} */

/* img:hover{
    transform: scale(1.2);
} */

.box2{
    margin-top: 20px;
    width: 250px;
    height: 80px;
    background-color: cadetblue;
    /* margin: 150px 150px;
    transition: all 1s; */
    position: absolute;
    animation-name: move;
    animation-duration: 6s;
}

/* .box2:hover{
    transform: skew(20deg,20deg);
    background-color: brown;
} */



img{
    width: 150px;
    height: 150px;
    animation-name: rotate;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes rotate{
    from{
        transform: rotate(0);
    }
    to{
        transform: rotate(360deg);
    }
}


.box-common{
    width: 50px;
    height: 50px;
    background-color: cadetblue;

}

.box3{
    animation-name: move3;
    animation-duration: 5s;
    animation-timing-function: linear;
}
.box4{
    animation-name: move3;
    animation-duration: 5s;
    animation-timing-function: ease;
}
.box5{
    animation-name: move3;
    animation-duration: 5s;
    animation-timing-function: ease-in;
}
.box6{
    animation-name: move3;
    animation-duration: 5s;
    animation-timing-function: ease-out;
}
.box7{
    animation-name: move3;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
}
.box8{
    animation-name: move3;
    animation-duration: 5s;
    animation-timing-function: step-end;
}

@keyframes move3{
    from{
        transform: translateX(0);
    }to{
        transform: translateX(500px);
    }
}

.div-box{
    margin-top: 50px;
    width: 50px;
    height: 50px;
    background-color: cadetblue;
    animation-name: change;
    animation-duration: 5s;
}

@keyframes change{
    0%{
        background-color: cadetblue;
        transform: translate(0,0);
    }
    25%{
        background-color: rgb(231, 136, 12);
        transform: translate(400px,0);
    }
    50%{
        background-color: rgb(85, 13, 218);
        transform: translate(400px,400px);
    }
    75%{
        background-color: rgb(255, 0, 0);
        transform: translate(0,400px);
    }
    100%{
        background-color: cadetblue;
        transform: translate(0,0);
    }
}